<!-- login.ejs -->
<h1>Page de connexion</h1>

<form action="/login" method="POST">
  <!-- Ajoutez ici les champs de votre formulaire -->
  <input type="email" name="email" placeholder="Adresse e-mail">
  <input type="password" name="password" placeholder="Mot de passe">
  <button type="submit">Se connecter</button>
</form>